/*******************

	  BODY

********************/
body {
	margin-top: 70px;
	background: #f9f6f1;
}

/*******************

	  NAVBAR

********************/

nav {
	background: #00ba8b !important;
	border-radius: 0;
}

nav .navbar-brand {
	position: relative;
	top: 2px;
}

nav a {
	color:white !important;
	text-decoration: none;
}

nav .dropdown-menu a {
	color:black !important;
}

/*******************

	  WIDGET

********************/

.widget .panel-heading {
	position:relative;
}

.widget .btn-group {
	position:absolute;
	right:10px;
}

.widget .panel-body{
	padding:5px;
}

/*******************

	  LOAD AVG

********************/

#loadaverage .panel-body .panel-heading {
	color : #00ba8b;
	font-size:150%;
}

#loadaverage .percent{
	font-weight: bold;
}